
// Body
$body-bg: #f8fafc;

// Typography
$nunito: "Nunito", sans-serif;
$font-bold: 600;
$source-pro: 'Source Sans Pro', sans-serif;
$primary-font: "Nunito", sans-serif;
$body-font: 1.3rem;
$primary-font-size: 1.2rem;
$mobile-font-size:1rem;
// Colors
$light-gray:#f1f2f2;
$gray:#d0d0d0;
$dark-gray:#939393;
$black-gray:#252525;
$white:#fff;
$black:#000;

$primary-color:#fe0202;
$secondary-color:#fe0202;

//Home Colors
$blue:#534b7c;
$gold:#ece5d6;


// Typography
$rubik: 'Rubik', sans-serif;
